<div *ngIf="player; else loading" class="detail-page">


 

  <mat-card class="player-info-card">
  <div class="actions">
  <button
    class="edit-player-btn"
    (click)="editPlayer()">
    ✏️ Editar Jugador
  </button>
</div>

    <mat-card-header>
      <mat-card-title>
        ⚽ {{ player.name }}
      </mat-card-title>
  
      <mat-card-subtitle>
        {{ player.club }}
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>

      <div class="rating-badge">
        Puntaje: ⭐ {{ player.rating }}
      </div>

      <div class="player-data">
        <p><strong>Posición:</strong> {{ player.position }}</p>
        <p><strong>Nacionalidad:</strong> {{ player.nationality }}</p>
        <p><strong>Speed:</strong> {{ player.speed }}</p>
        <p><strong>Shooting:</strong> {{ player.shooting }}</p>
        <p><strong>Dribbling:</strong> {{ player.dribbling }}</p>
        <p><strong>Passing:</strong> {{ player.passing }}</p>
      </div>

    </mat-card-content>

  </mat-card>

  <mat-card class="chart-card">

    <mat-card-header>
      <mat-card-title>
        Radar De Habilidad
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="chart-container">
        <canvas id="radarChart"></canvas>
      </div>
    </mat-card-content>

  </mat-card>

</div>

<ng-template #loading>
  <div class="loading">
    Cargando jugador...
  </div>
</ng-template>