<div class="page-container">

 <div class="actions">
  <button
    class="create-player-btn"
    (click)="goToCreatePlayer()">
    ➕ Crear Jugador
  </button>
</div>

<div class="hero-section">
   <h1 class="title">
    ⚽ Explorador de Jugadores ⚽
  </h1>

  <div class="search-container">
    <input
      type="text"
      placeholder="Buscar jugador..."
      (input)="onSearch($event)"
    />
  </div>
</div>
 

  <div class="pagination">
    <button mat-raised-button (click)="previousPage()">
      ← Anterior
    </button>

    <span>Página {{ page }}</span>

    <button mat-raised-button (click)="nextPage()">
      Siguiente →
    </button>
  </div>

  <div *ngIf="players.length > 0; else noPlayers" class="players-grid">

    <mat-card
      *ngFor="let player of players"
      class="player-card"
      (click)="viewPlayer(player.id)"
    >

      <mat-card-header>
        <mat-card-title>
          {{ player.name }}
        </mat-card-title>

        <mat-card-subtitle>
          {{ player.club }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <p>
          <strong>Posición:</strong>
          {{ player.position }}
        </p>

        <p>
          <strong>Rating:</strong>
          ⭐ {{ player.rating }}
        </p>

      </mat-card-content>

      <mat-card-actions>
        <button mat-flat-button>
          Ver Detalles
        </button>
      </mat-card-actions>

    </mat-card>

  </div>

  <ng-template #noPlayers>
    <p>{{ errorMessage || 'Cargando jugadores...' }}</p>
  </ng-template>

</div>