.page-container {
  padding: 30px;
  max-width: 1400px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.search-container {
  display: flex;

  justify-content: center;

  margin-bottom: 35px;
}

.search-container input {
  width: 500px;

  max-width: 100%;

  padding: 14px 18px;

  border-radius: 14px;

  border: 1px solid #444;

  background: rgba(30,30,47,.92);

  color: white;

  font-size: 1rem;

  backdrop-filter: blur(8px);

  transition: all .25s ease;

  box-shadow:
    0 4px 15px rgba(0,0,0,.2);
}

.search-container input::placeholder {
  color: #b8b8c7;
}

.search-container input:focus {
  outline: none;

  border-color: #bb86fc;

  box-shadow:
    0 0 0 4px rgba(187,134,252,.20),
    0 8px 20px rgba(0,0,0,.3);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-bottom: 30px;
  color: white;

  font-size: 1.1rem;

  font-weight: 500;
  
}


.players-grid {
  display: grid;

  grid-template-columns:
    repeat(auto-fill, minmax(320px, 1fr));

  gap: 20px;
}

.player-card {
  cursor: pointer;

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

.player-card:hover {
  transform: translateY(-4px);
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.create-player-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;

  background: linear-gradient(
    135deg,
    #7c4dff,
    #9c27b0
  );

  color: white;

  border: none;
  border-radius: 12px;

  padding: 12px 22px;

  font-weight: 600;
  font-size: 15px;

  cursor: pointer;

  transition: all .25s ease;

  box-shadow:
    0 4px 12px rgba(156,39,176,.30);
}

.create-player-btn:hover {
  transform: translateY(-2px);

  box-shadow:
    0 8px 20px rgba(156,39,176,.40);
}

.create-player-btn:active {
  transform: scale(.98);
}

.title {
  text-align: center;

  margin-bottom: 30px;

  font-size: 2.8rem;

  font-weight: 700;

  color: #ffffff;

  text-shadow:
    0 0 10px rgba(187,134,252,.4),
    0 0 20px rgba(187,134,252,.2);

  letter-spacing: 1px;
}

.hero-section {
  margin-bottom: 20px;

  padding: 20px;
}