# Desarrollo
.env

# Dependencias
node_modules/
**/node_modules/

# Build
dist/
build/
**/dist/

# Los logs
*.log
npm-debug.log*

# Volumenes de docker
db_data/

# Archivos de sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/